$white: #FFFFFF;
$black: #000000;
$shark: #1F2028;
$midnight: #001A34;
$silverSand: #C2C3C4;
$abbey: #4B4C53;
$athensGray: #E6E9EE;

$background-color: $black;
$text-color: $white;

//fonts
$font-family: 'Roboto', sans-serif;

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-big: 20px;
$font-size-large: 30px;
$font-size-extra-large: 36px;

$background-color: $white;
$text-color: $black;

$transition-duration-long: 800ms;

:root {
    --primary-color: #{$black};
    --secondary-color: #{$white};
    --background-color: #{$white};
    --text-color: #{$black};
    --lightGrey: #{$athensGray};
}

[data-theme='DARK'] {
    --primary-color: #{$white};
    --secondary-color: #{$black};
    --background-color: #{$shark};
    --text-color: #{$white};
    --lightGrey: #{$abbey};
}
