.button {
    font-size: rem($font-size-base);
    padding: rem(24px);
    transition-duration: $transition-duration;
    transition-property: background-color;
    cursor: pointer;
    color: var(--secondary-color);
    border: none;
    border-radius: rem(8px);
    background-color: var(--brand-color);

    &:hover {
        background-color: var(--brand-light-color);
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--square{
        position: relative;
        padding: 0 0 100% 0;
        border-radius: 0;
    }
    &--square & {
        &__content {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: rem(10px);
        }
    }
}
