.create-spending-form {
  display: flex;
  gap: rem(20px);

  @media #{$screen-max-md} {
    flex-direction: column-reverse;
  }

  &__col {
    gap: rem(20px);

    &--sm {
      flex-basis: 40%;

      @media #{$screen-max-md} {
        flex-basis: auto;
      }
    }

    &--lg {
      flex-basis: 60%;

      @media #{$screen-max-md} {
        flex-basis: auto;
      }
    }
  }

  &__button {
    width: 100%;
    margin-top: rem(20px);
  }

  &__categories {
    margin-top: rem(20px);
  }
}