.datepicker {
  width: 100%;
  border: none;

  & > div {
    background-color: var(--grey-color);

    &:hover {
      background-color: var(--light-grey);
    }
  }

  & fieldset {
    border: none;
  }

  & input {
    font-size: rem($font-size-base);
    padding: rem(24px) rem(32px);
    color: var(--primary-color);

    @media #{$screen-max-sm} {
      padding: rem(12px) rem(16px);
    }
  }

  & button {
    color: var(--primary-color);
  }
}