.expenses {
  margin-top: rem(20px);

  &__row {
    &:nth-child(1n) {
      margin-bottom: rem(40px);
    }
  }

  &__input {
    .input {
      &__label {
        @include margin-horizontal(0);
      }

      &__area {
        margin-top: 0;
      }
    }
  }
}