.expenses {
  &__row {
    display: flex;
    gap: rem(20px);

    &:nth-child(1n) {
      margin-bottom: rem(40px);
    }
  }

  &__col {
    gap: rem(20px);

    &--sm {
      flex-basis: 40%;
    }

    &--lg {
      flex-basis: 60%;
    }
  }

  &__categories {
    margin-top: rem(20px);
  }

  &__input {
    .input {
      &__label {
        @include margin-horizontal(0);
      }

      &__area {
        margin-top: 0;
      }
    }
  }
}