.icon {
  @include square(35px);

  &--shopping-cart {
    color: $persianGreen;
  }

  &--clothes {
    color: $strikeMaster;
  }

  &--tableware {
    color: $disco;
  }

  &--paw {
    color: $blueViolet;
  }

  &--mask {
    color: $emerald;
  }

  &--rocking-horse {
    color: $steelBlue;
  }

  &--domino {
    color: $royalBLue;
  }

  &--house {
    color: $screamingGreen;
  }

  &--cosmetics {
    color: $persianPink;
  }

  &--internet {
    color: $brickRed;
  }

  &--car {
    color: $goldenFizz;
  }

  &--aplication {
    color: $flamingo;
  }

  &--dumbbell {
    color: $brightTurquoise;
  }

  &--canned-food {
    color: $greenYellow;
  }

  &--pills {
    color: $electricViolet;
  }

  &--pipe-smoke {
    color: $jaffa;
  }

  &--gamepad {
    color: $shiraz;
  }

  &--present {
    color: $turquoise;
  }

  &--cleaning-mop {
    color: $denim;
  }

  &--oasis {
    color: $harlequin;
  }

  &--question-mark {
    color: $burntSienna;
  }
}