.input {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: rem(24px);

        @media #{$screen-max-sm} {
            margin-bottom: rem(12px);
        }
    }

    &__label {
        align-items: flex-start;
        width: 100%;
    }

    & &__area {
        width: 100%;
        margin-top: rem(16px);
        border-radius: rem(8px);
        background-color: var(--grey-color);

        @media #{$screen-max-sm} {
            margin-top: rem(12px);
        }

        &:hover {
            background-color: var(--light-grey);
        }

        input {
            font-size: rem($font-size-base);
            padding: rem(24px) rem(32px);
            color: var(--primary-color);

            @media #{$screen-max-sm} {
                font-size: rem($font-size-extra-small);
                padding: rem(12px) rem(16px);
            }
        }
    }

    &__error-message {
        font-size: rem($font-size-extra-small);
        display: block;
        margin-top: rem(4px);
        text-align: left;
        color: $burntSienna;
    }
}
