.modal {
  display: flex;
  justify-content: center;

  &__box {
    overflow: auto;
    width: rem(500px);
    height: rem(600px);
    margin-top: rem(65px);
    padding: rem(20px);
    outline: none;
    border-radius: rem(5px);
    background-color: var(--background-color);

    @media #{$screen-max-md} {
      margin-top: rem(20px);
    }

    @media #{$screen-min-md} and #{$screen-max-lg} {
      margin-top: rem(30px);
    }
  }
}