@use "sass:math";

.options {
    $verticalGutter: 30px;

    @media #{$screen-max-md} {
        $verticalGutter: 10px;
    }

    &__list {
        @include margin-horizontal(math.div(-$verticalGutter, 2));

        display: flex;
        align-items: center;
    }

    &__item {
        @include margin-horizontal(math.div($verticalGutter, 2));

        &:not(:last-child) {
            padding-right: rem(math.div($verticalGutter, 2));
            border-right: rem(1px) solid var(--text-color);
        }

        &:last-child {
            margin-left: 0;
        }
    }

    &__link {
        color: var(--text-color);
        text-decoration: none;

        &::after {
            content: attr(data-text);

            @media #{$screen-max-md} {
                content: attr(data-text-short);
            }
        }

        @media #{$screen-max-md} {
            font-size: rem($font-size-extra-small);
        }
    }
}
