.select {
  &__label {
    align-items: flex-start;
    width: 100%;
  }

  & &__area {
    width: 100%;
    margin-top: rem(5px);
    border-radius: rem(8px);
    background-color: var(--grey-color);

    & > div {
      padding: rem(24px) rem(32px);
      color: var(--primary-color);

      @media #{$screen-max-md} {
        padding: rem(12px) rem(16px);
      }

      @media #{$screen-min-md} and #{$screen-max-lg} {
        padding: rem(16px) rem(20px);
      }
    }

    &:hover {
      background-color: var(--light-grey);
    }

    fieldset {
      font-size: rem($font-size-base);
      outline: none;
      border: none;
    }
  }
}