.tabs {
  @media #{$screen-max-md} {
    min-height: rem(32px);
  }

  &__button {
    color: var(--text-color);

    @media #{$screen-max-md} {
      font-size: rem($font-size-extra-small);
      min-width: rem(75px);
      min-height: rem(32px);
      padding: 0;
    }

    // Reset MUI animations
    * {
      display: none;
    }
  }

  [role=tablist] {
    &+ .tabs__indicator {
      height: rem(3px);
      border-radius: rem(8px);
      background-color: var(--brand-color);
    }
  }
}