$white: #FFFFFF;
$black: #000000;
$shark: #1F2028;
$midnight: #001A34;
$silverSand: #C2C3C4;
$abbey: #4B4C53;
$athensGray: #E6E9EE;
$alabaster: #F7F7F7;
$tuna: #2E3039;
$tropicalRainForest: #006957;
$deepTeal: #01322A;
$turquoise: #34D0B6;
$riptide: #8AEDDD;
$persianGreen: #00A287;
$burntSienna: #E65E51;
$strikeMaster: #A36C84;
$disco: #79184D;
$blueViolet: #4D4AAF;
$electricViolet: #B83BED;
$emerald: #51CF70;
$steelBlue: #528CB6;
$royalBLue: #3E6EE9;
$denim: #0D66DB;
$screamingGreen: #74F672;
$greenYellow: #7EF230;
$harlequin: #25DB0D;
$persianPink: #F672DC;
$brickRed: #C42D55;
$shiraz: #BF0D25;
$goldenFizz: #E7F52C;
$flamingo: #F56C2C;
$jaffa: #ED943B;
$brightTurquoise: #2CF1F5;

//fonts
$font-family: 'Roboto', sans-serif;

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-big: 20px;
$font-size-large: 30px;
$font-size-extra-large: 36px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$background-color: $white;
$text-color: $black;

$transition-duration-long: 800ms;
$transition-duration: 400ms;

$header-height: 72px;

:root {
    --primary-color: #{$deepTeal};
    --secondary-color: #{$white};
    --background-color: #{$white};
    --text-color: #{$deepTeal};
    --light-grey: #{$athensGray};
    --grey-color: #{$alabaster};
    --brand-color: #{$tropicalRainForest};
    --brand-light-color: #{$persianGreen};
}

[data-theme='DARK'] {
    --primary-color: #{$white};
    --secondary-color: #{$deepTeal};
    --background-color: #{$shark};
    --text-color: #{$white};
    --light-grey: #{$abbey};
    --grey-color: #{$tuna};
    --brand-color: #{$turquoise};
    --brand-light-color: #{$riptide};
}
